#profileUp {
    padding-top: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

%template {
    display: flex;
    width: 100%;
    height: calc(32vh);
    padding: 2em;
}
.profileHead {
    // background-color: green;
    @extend %template;
    flex-direction: row;
    justify-content: space-between;
    div:nth-child(1){
      h3 {
        color: $textColor1;
        font-size: 2em;
      }
      p {
        color: $textColor2;
        font-size: 1.2em;
      }
      pre {
        color: $textColor2;
        font-size: .9em;
      }
      ul {
        padding-top: .5em;
        display: flex;
        gap: 7px;
        li {
          padding: 2px 12px;
          background-color: white;
          border: 1px solid rgb(235, 232, 232);
          border-radius: 7px;
          cursor: pointer;
          &:hover {
            
            background: rgb(235, 232, 232);
            border-color: rgb(219, 215, 215);
          }
  
        }
      }
    }
    div:nth-child(2){
      height: max(23vh);
      padding-left: 2.3em;
      img {
        height: 100%;
        object-fit: contain;
        border-radius: 15px;
      }
    }
}  
.profileAbout {
    @extend %template;
    flex-direction: column;
    

    h2 {
      font-size: 1.7em;
      color: $textColor1;
    }
    div {
      p {
        font-size: .9em;
        color: $textColor2;
      }
    }
}